.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    /* Layout model */
    flex-direction: column;
    /* Setting the  displa-direction to column */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Figtree', sans-serif;
}

.blog-card {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    width: 300px;
    /* height: ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    border: black 1px solid;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
    border-radius: 15px;
}

.blog-card img {
    width: 300px;
    border-radius: 10px;

}

.category {
    background-color: hsl(47, 88%, 63%);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    align-self: flex-start;
}

.date {
    top: 500px;
}

.text {
    text-align: left;
    font-size: 16px;

}

.blog-card .description {
    color: hsl(0, 0%, 42%);
}

.author img {
    width: 40px;
    position: fixed;
    left: 490px;
    bottom: 70px;
}

.author p {
    position: fixed;
    left: 540px;
    bottom: 65px;
}